repositories:
  - name: authentik
    url: https://charts.goauthentik.io

releases:
  - name: authentik
    namespace: auth
    chart: authentik/authentik
    version: 2026.8.1
    createNamespace: true
    values:
      - values.yaml
    hooks:
      - events: ["presync"]
        command: "bash"
        args:
          - "-c"
          - "kubectl create configmap authentik-blueprints --from-file=blueprints/ -n auth --dry-run=client -o yaml | kubectl apply -f -"
