repositories:
  - name: groundhog2k
    url: https://groundhog2k.github.io/helm-charts/

releases:
  - name: postgres
    namespace: database
    chart: groundhog2k/postgres
    version: 1.6.8
    createNamespace: true
    values:
      - values.yaml
